.container{
    width: 100%;
    height: 70vh;
    position: relative;
    overflow-y: visible;
    transform-origin: left;
    transition: all .5s ease;
    margin-top: 5%;
}

.chart, .dummy{
    width: 80%;
    height: 100%;
    background: lightgrey;
    margin: auto;
    display: grid;
    row-gap: 20px;
    overflow-x: hidden;
    overflow-y: visible;
    border-radius: 15px;

}



.dummy{
    background: transparent;
    position: absolute;
    left: 10%;
    top: 0px;
    overflow-x: scroll;
    pointer-events: auto;
}

.dummy::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}